.table1 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 58%;
  background-color: white;
  margin-top: 5%;
position:fixed;



}

.table1 td, .table1 th {
  border: 1px solid #ddd;
  padding: 9px;
 
}

.table1 tr:nth-child(odd){
  background-color: #f2f2f2;
  padding: 4px;}

.table1 tr:nth-child(even){
  background-color: #c9c9c9;
  padding: 4px;}


.table1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #0452aa;  
  color: white;
 
}

.page{
  position:relative;
  float:right;

}



h3{
  text-align: center;

}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

p.para{
  color: darkgrey;
  text-align: center;
}
p.para1{
  color: grey;
text-align: center;
}
.userid{
  width: 90%;
  padding: 18px;
  margin: 5px 0 20px 0; 
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 3px;
  font-weight: normal;
  font-size: medium;
  left:20px;
 
}

.userid:focus {
  background-color: #ddd;
  outline: none; 
}
.userid input {
  height: 40px;
  padding: 0px 14px;
  background-color:white;
  font-size: medium;   
}
.username1{
  width: 90%;
  padding: 18px;
  margin: 5px 0 20px 0; 
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 3px;
  font-weight: normal;
  font-size: medium;
  left:20px;
 
}

.username1:focus {
  background-color: #ddd;
  outline: none; 
}
.username1 input {
  height: 40px;
  padding: 0px 14px;
  background-color:white;  
  font-size: medium; 
}




.email1{
  width: 90%; 
  padding: 18px;
  margin: 5px 0 20px 0; 
  display: inline-block;    
  border: none; 
  background: #f1f1f1;
  border-radius: 3px;
  font-weight: normal;
  font-size: medium;
  left:20px;
}

.email1:focus {
  background-color: #ddd;
  outline: none;
}

.email1 input {
  height: 40px;
  padding: 0px 14px;
  background-color: white;
  font-size: medium;
}

.firstname1{
  width: 90%;
  padding: 18px;
  margin: 5px 0 20px 0; 
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 3px;
  font-weight: normal;
  font-size: medium;
  left:20px;
}

.firstname1:focus {
  background-color: #ddd;
  outline: none; 
}

.firstname1 input {
  height: 40px;
  padding: 0px 14px;
  background-color: white;
  font-size: medium;
}

.lastname1{
  width: 90%;
  padding: 18px;
  margin: 5px 0 20px 0; 
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 3px;
  font-weight: normal;
  font-size: medium;
  left:20px;
}

.lastname1:focus {
  background-color: #ddd;
  outline: none;
}

.lastname1 input {
  height: 40px;
  padding: 0px 14px;
  background-color: white;
  font-size: medium;
}

.password1{
  width: 90%;
  padding: 18px;
  margin: 5px 0 20px 0; 
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 3px;
  font-weight: normal;
  font-size: medium;
  left:20px;
}

.password1:focus {
  background-color: #ddd;
  outline: none;
}

.password1 input {
  height: 40px;
  padding: 0px 14px;
  background-color: white;
  font-size: medium;
}

.dob1{
  width: 90%;
  padding: 18px;
  margin: 5px 0 20px 0; 
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 3px;
  font-weight: normal;
  font-size: medium;
  left:20px;
}

.dob1:focus {
  background-color: #ddd;
  outline: none;
}

.dob1 input {
  height: 40px;
  padding: 0px 14px;
  background-color: white;
  font-size: medium;
}

.about_me1{
  width: 90%;
  padding: 18px;
  margin: 5px 0 20px 0; 
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 3px;
  font-weight: normal;
  font-size: medium;
  left:20px;
}

.about_me1 {
  background-color: #ddd;
  outline: none;
}

.about_me1 input {
  height: 40px;
  padding: 0px 14px;
  background-color: white;
  font-size: medium;
}



/*  span{
    color: grey;
  } */
 
.labeladd{
 opacity: 0.7;
 position: relative;
left: 20px;

}

  p.error{
color: tomato;
position: relative;
left:20px;
  }



  

   .bttn{
 background-color: #04AA6D;
    color: white; 
    padding: 14px 20px;
    margin: 0px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-weight: bold;
    font-size: medium;
    position: relative; 
  height: 45px;
  border-radius: 0%;

 

  } 
  .bttn:hover{
    color: white;
  }
.bttn:disabled{
   background-color: #8ce9c7;
   color: white;
 } 

 label span.required:after{content:" *"}

.b1{
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: 10px;
  top: 4px;
  font-size: 30px;
  background: #ffffff;
  border: none;
}

.updateform{
  background-color: white;
/*   padding: 20px 25px 30px; */
margin: 0 auto 25px;
  margin-top: 75px;
 -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  width: 33%;

}
