h4{
  text-align: center;
  position: relative;

} 
  .btn-block {
    background-color: #00a83b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 60%;
    opacity: 0.9;
    font-weight: bold;
    font-size: medium;
    border-radius: 4px;
    height:50px;
    text-align: center;
    left:20%;
position: relative;
  }
  
.error{
  color: red;
  float: left;

 
  
}


  .alert-danger{
      color: red;
  }
 .Email{
    width: 60%;
    padding: 18px;
    display: inline-block;
    border: none;
    font-weight: normal;
    font-size: medium;
    outline: none; 
    border-radius: 3px;
   height: 3em;
   left:20%;
  }
  .Email input {
    height: 40px;
    padding: 0px 14px;
    text-align: center;
background-color: white;
font-size: medium;
  }


  .pass{
    width: 60%;
    padding: 18px;
    display: inline-block;
    border: none;
    font-weight: normal;
    font-size: medium;
    outline: none; 
    border-radius: 3px;
   height: 3em;
   left:20%;
  }
  .pass input {
    height: 40px;
    padding: 0px 14px;
    text-align: center;
    background-color: white;
font-size: medium;
  }
  
  .label2{
    opacity: 0.7;
    text-align: center;
    position: relative; 
  float:left;
  left: 40%;
  }
 
 
  
  

  .login-in {
    background-color: #fefefe;
    margin: 3.8% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1 px solid #888;
    width: 20.8%; /* Could be more or less, depending on screen size */
    height:56.5em;
    border-radius: 5px;
  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 80%;
        right: 0;
  }

.lg{
  left: 30%;
  position: relative;
} 

